version: 2
jobs:
  build:
    docker:
      - image: jpbernius/pandoc:latest
    steps:
      - checkout
      - run:
          name: Generate assignment 1
          command: |
            pandoc --filter pandoc-citeproc assignment-1.md -o assignment-1.pdf
            pandoc --filter pandoc-citeproc assignment-1.md -o assignment-1.epub
      - run:
          name: Generate assignment 2
          command: |
            pandoc --filter pandoc-citeproc assignment-2.md -o assignment-2.pdf
            pandoc --filter pandoc-citeproc assignment-2.md -o assignment-2.epub
      - store_artifacts:
          path: /root/project/assignment-1.pdf
      - store_artifacts:
          path: /root/project/assignment-1.epub
      - store_artifacts:
          path: /root/project/assignment-2.pdf
      - store_artifacts:
          path: /root/project/assignment-2.epub